<div class='floatBox'>
	<div class='content' style='width: 850px; margin: 0px auto;'>
	<%= render partial: "blogs/blogs_masonry", locals: {blogs: @blogs, amount: 4} %>
	</div>
	<%= render partial: "layouts/footer" %>
</div>

<% content_for :in_header do %>
<br/>
<b>All the blogs!</b>
<% end %>