
<div class='feature'>
	<div class='gif'>
		<%= image_tag "menu.gif" %>
	</div>
	<h4> Navigation</h4>
	<p>
	O..hey takes advantage of the <b>corners as hotspots</b> for navigation and other goodies. To use main menu, hover your mouse in the <b>top right corner</b>. This will give you option to login, register, and etc.
	</p>
</p>
</div>

<div class='feature'>
	<div class='gif'>
		
		<%= image_tag "editposts.gif" %>
	</div>
	<h4> Creating/Editing post </h4>

	<p>
	When creating/editing post, as soon as you type something, O..hey will save it as a draft..you can see the <b>post options</b> and also publish it by hovering in <b>lower left corner</b> and clicking the <span class='glyphicon glyphicon-cog'></span> icon. This will also have keyboard shortcuts for the edit page.
	</p>
	<p>
		The <b>lower right corner</b> will contain  a simple button to <b>return you to the posts</b> page.
	</p>
</div>

	<div class='feature'>
		<div class='gif'>
			<%= image_tag "settings.gif" %>
		</div>
		<h4> Settings </h4>
		<p> 
		In the settings panel, you can switch between current blogs, add users, accept or deny invites, as well as edit your info. To "switch"  blogs click on the <b>top button</b>, and <b>choose a different blog</b> or <b>create one</b>.
		</p>
	</div>