<div class='floatBox'>
<h1>About</h1>
<p> 
	O..hey is a simple blogging platform built with rails, as a test.  It was created by <a href='http://chris-malcolm.com'>Chris Malcolm</a>.
</p>
<p>
	It features automatic ajax-saving posts and changes, multi-user support with ability to invite moderators and collaborators, and multiple-blog support. The design ui is also an experiment, with a suddle use of corner "hotspots" as means of hiding less-used content. 
</p>
<p>
	<a href='http://github.com/cjm771/ohey'>Github</a>

	<pre>
		<%= JSON.parse(@response)["is_valid"]==false %>
	</pre>
</div>