/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	font-family: 'Open Sans', sans-serif;
 	padding: 0px;
 	font-size: 12px;
 }
 h1{
 	font-family: 'Open Sans', sans-serif;
 	font-weight: 500;
 	margin-bottom: 30px;

 }
 .bigger{
 	font-weight: bold;
 	font-size: 24px !important;
 }
.smaller{
 	font-size: 14px !important;
 }
 a:hover{
 	text-decoration: none;
 }
 .floatBox{
 	margin: 0px auto;
 	width: 750px;
 	text-align: center;
 }

.draft_label{
	font-size: 8px;
	border-radius: 2px;
	padding: 4px;
	color: #fff;
	background: #a8c8e6;
	position: absolute;
	right: 100%;
	margin-right: 10px;
	margin-top: -2px;
}

.open_invites_badge{
	z-index: 1;
	border-radius: 50% !important;
	position: absolute;
	background: #000;
	display: block;
	font-size: 10px;
	line-height: 8px;
	top: 14px;
	left: 14px;
	border:0 !important;
	color: #fff !important;
	margin: 0px !important;
	padding: 8px !important;
}

.nav-tabs .open_invites_badge{
	display: block;
	top: 0px; 
	left: auto;
	right: 10px;
	float: left;
	font-size: 8px;
	margin: 10px 0px 0 0  !important;
	line-height: 5px !important;
	padding: 5px !important;
}

a.open_invites_badge:hover{
	background: #0099FF !important;
}

.invite_options{
	margin-top: 20px;
}
.invite_options form{
	display: inline;
}
.invite_options .icon{
	margin-left: 10px;
}
/* EDIT PAGE */


.editor{
	position: relative;
}

.rt-wpr{
	position: relative;
	margin-right: 100px;
}
.Medium-placeholder{
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	color: #c0c0c0 !important;
}
.editor .form-group{
	text-align: left;
}
.editor form{
	margin-bottom: 30px;
}
.editor .form-group input[type='text'],
.editor .form-group textarea,
.editor .form-group input[type='text']:focus,
.editor .form-group textarea:focus{
	color: inherit !important;
	text-align: left;

	font-weight: 400;
	min-width: 500px;
}
.editor .form-group textarea {
	font-size: 24px !important;
	width: auto !important;
	min-width: inherit !important;
	display: none;
}

.editor .rt-textArea,
.editor .rt-textArea:focus{
	font-size: 24px;
	outline:none;
	display: block;
	font-weight: 200;
	word-break: break-all !important;
	height: 100%;
	color: #666;
	display: block;
}

.editor .rt-textArea img{
	max-width: 500px;
	width: 100%;
	height: auto;
	display: block;
}

/* General */
#container{
	padding: 0px;
	height: 100%;
	top:0;
	left: 0;
	z-index: -2;
	vertical-align: top;
	overflow-x: hidden;
}
.main{
	padding: 20px;
	display: block;
	vertical-align: top;
	min-width: 850px;

}


.drawer.left{
	display: block;
	width: 300px;
	background: #000;
	min-height: 100%;
	margin-right: 20px;
	float: left;
	display: none;
}
.drawer_wpr{
	color: #c0c0c0;
	margin: 20px;
	width: 90%;
}
.drawer_wpr hr{
	margin-right: 30px ;
	display: block;
	border-color: #333;
}
.drawer.left.open .drawer_wpr{
	position: fixed;
	width: 280px;
	z-index: 200;
}


#br_corner,
#bl_corner{
	position: fixed;
	bottom:0;
	left: 0;
	min-width: 200px;
	min-height: 100px;
}
#br_corner{
	right: 0;
	left: auto;
	text-align: right;
}
#br_corner #br_wpr,
#bl_corner #bl_wpr{
	opacity: 0;
	position: absolute;
	bottom: 0;
	padding: 20px;
	text-align: bottom;
	transition:opacity .25s linear;
}
#br_corner #br_wpr{
	transition:opacity .1s linear;
 	right: 0;
 	margin:10px;
}
#br_corner:hover #br_wpr,
#bl_corner:hover #bl_wpr{
	opacity: 1;	
}
#bl_wpr #left_drawer_icon{
	font-size: 28px;
}
#bl_wpr #left_drawer_icon.active{
	color: #fff;
}
 /* FLASH */
  form #error_explanation,
 .flash.error{
 	color: #D8000C;
 	border: 1px solid #D8000C;
 }
  .flash.notice {
    color: #00529B;
    border: 1px solid #00529B;
}
 .flash.success {
    color: #4F8A10;
    border: 1px solid #4F8A10;
}
 .flash.warning {
    color: #9F6000;
    border: 1px solid #9F6000;
}
  form #error_explanation,
.flash {
	border-radius: 5px;
	max-width: 300px;
	padding: 10px;
}

.invites-table td:first-child{
	width: 80%;
}

.invites-table tr:hover .icon{
	display: inline;
}
.invites-table tr .icon{
	display: none;
}
table{
	margin: 30px 0;
	width: 100%;
	text-align: left;;
}
table th{
	font-weight: bold;
	padding: 10px 0;
}
table td:first-child{
	width: 45%;
}
table th:last-child,
table td:last-child{
	text-align: right;
	text-align: right;
}
table thead{
	display: none;
}
table tr{
	border-bottom: 1px solid #c0c0c0;
}

table tr td{
	padding: 20px 0px;
}
.drawer_wpr table td{
	padding: 0;
}
.drawer_wpr table tr{
	padding: 0;
	border: 0 ;
}
	
table tr:last-child{
	border: none;
}

.btn-inline.icon{
	color: #666;
}

.icon{
	color: #000;
}
.icon.icon-lrg{
	font-size: 30px;
}
.icon:hover{
	color: #0099FF;
	cursor: pointer;
}
/* my posts */
table.posts tr.post_item .icon{
	display: none;
	margin-left: 5px;
}
table.posts tr.post_item:hover .icon{
	display: inline;

}

  /* FORMS */

 .floatBox form {
 	margin:  30px 0px;
}
.floatBox form input,
.floatBox form textarea{
 	font-size: 18px;
 	resize: none;
 }
  .floatBox form input[type='submit']{
 	margin: 15px 0px;
 	font-size: 14px;
 }

.floatBox .flash,
 form #error_explanation {
	margin: 20px auto;
 }

 form.inline {
 	display: inline;
 }

 form #error_explanation ul,
 form #error_explanation h2{

 	font-size: 10px;
 	text-align: left;
 }
  form #error_explanation h2{
  	margin: 10px 0px;
  	font-weight: bold;
  }


.form-group select,
.form-group input[type='text'],
.form-group input[type='password'],
.form-group input[type='text']:active,
.form-group input[type='text']:focus,
.form-group input[type='password']:active,
.form-group input[type='password']:focus,
.form-group textarea,
.form-group textarea:active,
.form-group textarea:focus{
	outline: none !important;
	text-align: center;
 	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #c0c0c0;
	border-radius: 0px;
	box-shadow: none;
	width: 200px;
	color: #0099ff;
}
.form-group .field_with_errors select,
.form-group .field_with_errors input[type='text'],
.form-group .field_with_errors input[type='password'],
.form-group .field_with_errors input[type='text']:active,
.form-group .field_with_errors input[type='text']:focus,
.form-group .field_with_errors input[type='password']:active,
.form-group .field_with_errors input[type='password']:focus,
.form-group .field_with_errors textarea:focus,
.form-group .field_with_errors textarea:active{
	outline: none;
	text-align: center;
 	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #ff0000;
	width: 200px;
}

.form-group textarea{
	outline: none;
	text-align: center;
 	background-color: transparent; 
	border-style: solid; 
	border-width: 0 !important; 
	width: 200px;
	color: #0099ff;
}

input:-webkit-autofill {
	 color: #0099FF !important;
    -webkit-box-shadow: 0 0 0 1000px white inset;

}
 /* placeholder styling */
input:focus::-webkit-input-placeholder { color:#0099FF; font-weight: normal;}
input:focus::-moz-placeholder { color:#0099FF; font-weight: normal;} /* firefox 19+ */
input:focus:-ms-input-placeholder { color:#0099FF; font-weight: normal;} /* ie */
input:focus:-moz-placeholder { color:#0099FF; font-weight: normal;}

textarea:focus::-webkit-input-placeholder { color:#0099FF; font-weight: normal;}
textarea:focus::-moz-placeholder { color:#0099FF; font-weight: normal;} /* firefox 19+ */
textarea:focus:-ms-input-placeholder { color:#0099FF; font-weight: normal;} /* ie */
textarea:focus:-moz-placeholder { color:#0099FF; font-weight: normal;}

.field_with_errors input::-webkit-input-placeholder { color:#ff0000; font-weight: normal;}
.field_with_errors input::-moz-placeholder { color:#ff0000; font-weight: normal;} /* firefox 19+ */
.field_with_errors input:-ms-input-placeholder { color:#ff0000; font-weight: normal;} /* ie */
.field_with_errors input:-moz-placeholder { color:#ff0000; font-weight: normal;}


.btn{
	outline: 0 !important;
}
.btn-primary{
	background: #0099ff;
	border: 0;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover{
	background: #00C0FF;
}
.form-group{
	vertical-align: middle;
}

.form-group input[type='text']:active,
.form-group input[type='text']:focus,
.form-group input[type='password']:active,
.form-group input[type='password']:focus,
.form-group textarea:active,
.form-group textarea:focus{
  	border-color: #0099FF;
  	color: #0099FF;
  	font-weight: bold;
  	border-bottom-width: 2px;
   }

  .form-group input[type='submit'].btn-inline{
	display: inline-block;
	margin: -5px 0 0 10px;
	line-height: 8px;
	background: none;
	font-size: 24px;
	font-weight: bold;
	box-shadow: none;
	padding: 10px;

}
.form-group .glyphicon{
	vertical-align: top;
	margin-top: 6px;
}
.form-group .glyphicon-remove{
	color: red;
}
.form-group textarea:active,
.form-group textarea:focus{
	font-weight: normal;;
}
#header .header_text{
	font-size: 32px;
	font-weight: bold;
	font-family: 'Leckerli One', cursive;
	margin-bottom: 30px;
}
#header.drawer_open a.about_blog_link{
}
#header.drawer_open{
	color: #fff;
	z-index: 250;
}
#header .extra{
	display: none ;
}
#header.drawer_open  .extra{
	display: inline;
}

#menu{
	position: fixed;
	z-index: 300;
	top:0;
	right: 0;
	min-width: 100px;
	min-height: 100px;
	padding: 20px;
}
#menu #menu_wpr{
	opacity: 0;
	transition:opacity .25s linear;
}
#menu:hover #menu_wpr{
	opacity: 1;
	display: inline-block;
}
#menu .menu_icon{
	font-size: 32px;
	font-weight: normal;
	color: #000;
	vertical-align: middle;
}
.drawer_icon:hover,
#menu .menu_icon:hover{
	color: #0099FF;
	cursor: pointer;
}
#menu .gravatar{
	height: 48px;
	margin-right: 10px;
	width: auto;
	vertical-align: middle;
	border-radius: 50%;
}

#menu_wpr > a{
	margin: 5px;
	color: #000;
	padding: 10px;
	border: 1px solid #fff;
	display: inline-block;
	text-decoration: none !important;
	border-radius: 5px;
}
.ohey_btn,
#menu_wpr > a:hover{
	color: #fff;
	background: #000;
	padding: 10px;
	border: 1px solid #000;
}

.ohey_btn:hover{
	background: #0099FF;
	color: #fff;
	border-color: #0099FF;
}
/* DROPDOWN */

.dd-loadBlog{
	margin: 0px auto;
	display: inline-block;
	max-width: 300px;
}

.dropdown-menu{
	background: #000;
	min-width: 100px;
}
#menu .dropdown-menu{
	margin-right: 20px;
	margin-top: -20px;
}
.dd-loadBlog .dropdown-menu{
	text-align: center;
	margin-top: 10px;
	background: #000;
	min-width: 100px;
}

.dropdown-menu > li.divider{
	background-color: #333;
	margin: 10px 15px;
}
.dropdown-menu > li > a{
	color: #c0c0c0;
}
.dropdown-menu > li > a:hover{
	background: inherit;
	color: #fff;
}
.dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 4px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu::after {
  position: absolute;
  top: -6px;
  right: 5px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #000;
  border-left: 6px solid transparent;
  content: '';
}
.gravatar-lrg,
.tab-pane .gravatar{
	height: 100px;
	margin-top: 30px;
	width: auto;
	vertical-align: middle;
	border-radius: 50%;
}
.gravatar_xs,
.gravatar_sm{
	height: 40px;
	margin: 0 10px 0 0;
	width: auto;
	vertical-align: middle;
	border-radius: 50%;
}

.gravatar_xs{
	height: 24px;
	margin: 0px;
}


.users_table tr.invited{
	opacity: .7;
}
.users_table tr.denied{
	opacity: .7;
}

.users_table td form{
	display: inline;
}

.users_table td .icon{
	display: none;
	margin-left: 5px;
}


.users_table td:hover .icon{
	display: inline;
}

.error_notifier{
	color: #ff0000;
}

.has_tooltip{
	cursor: pointer;
}
.zeroClipboard{
	cursor: pointer;
}


#settingsTabs{
	margin-top: 40px;
}

.typed-cursor {
	color: #2E3D48;
	font-weight: 100;
}
#homePage #splash h1{
	width: 700px;
	top: 0;
	z-index: -10;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	height: 200px;
}


#homePage #splash{
	background: rgb(156, 161, 255);
	z-index: 0;
	background: -moz-linear-gradient(60deg, rgb(156, 161, 255) 13%, rgb(255, 140, 250) 82%);
	background: -webkit-linear-gradient(60deg, rgb(156, 161, 255) 13%, rgb(255, 140, 250) 82%);
	background: -o-linear-gradient(60deg, rgb(156, 161, 255) 13%, rgb(255, 140, 250) 82%);
	background: -ms-linear-gradient(60deg, rgb(156, 161, 255) 13%, rgb(255, 140, 250) 82%);
	background: linear-gradient(150deg, rgb(156, 161, 255) 13%, rgb(255, 140, 250) 82%);
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
}

#homePage #splash #register_button{
	position: absolute;
	bottom: 60px;
	width: 150px;
	left: 0;
	right: 0;
	margin: auto;
}
body.pages_home #header{
	position: absolute;
	z-index: 10;
	color: #fff;
}
body.pages_home #menu #menu_wpr > a,
body.pages_home #menu .menu_icon{
	color: #fff;
	border-color: transparent;
}
#homePage #typer,
#homePage .typed-cursor{
	font-size: 72px;
}
.typed-cursor {
	font-weight: 100 !important;
	opacity: .3;
	  -webkit-animation: .7s blink step-end infinite;
	-moz-animation: .7s blink step-end infinite;
	-ms-animation: .7s blink step-end infinite;
	-o-animation: .7s blink step-end infinite;
	animation: .7s blink step-end infinite;
}

@keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
    color: white;
 }

}
.user_blogs_wpr{
	margin-top: 50px;
	width: 300px;
	margin: 0px auto;
}

.blog_circle span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;    
  padding: 5px;
  overflow: hidden; 
  color: #fff;
  width: 75px;
  text-overflow: ellipsis;
  
}
.tooltip .blog_descrip{
	margin-top: 10px;
	font-size: 10px;
	color: #c0c0c0;
}
.blog_circle{
	display: inline-block;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	background: rgb(255, 140, 250);
	color: #fff;
	vertical-align: top;
	margin: 10px;
	font-size: 10px;
	line-height: 75px;
    text-align: center;
}
.blog_circle.moderator{
	background:  #aa74cc;
}
.blog_circle.contributor{
	background:  rgb(156, 161, 255);
}
.blog_circle:hover{
	opacity: .8;
	cursor: pointer;
}

.nolink,
.nolink:hover{
	color: inherit !important;	
	text-decoration: inherit !important;
}
.nolink_extreme{
	background: inherit !important;
	border: inherit !important;
	margin: inherit !important;
	padding: inherit !important;
}
.blogs_show #header{
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
}
.blogs_show .main{
	position: relative;
	min-width: none;
}

.blogs_show #header a.about_blog_link,
.blogs_show .drawer a{
	color: #5983a6;
}

.blogs_show .floatBox{
	text-align: left;
	max-width: 850px;
	width: 60%;
	font-size: 12px;
	position: relative;
}
.blogs_show .post_item{
	margin: 10px 0 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
}
.blogs_show .post_item .description img{
	width: 100%;
	height: auto;
}
.blogs_show .head_wpr{
	text-align: left;
	margin-bottom: 30px;
}
.blogs_show .head_wpr .head{
	width: 300px;

	display: inline-block;
}
.blogs_show .head_wpr h1.title{
	margin: 10px 0;
	font-weight: 800;
	font-size: 32px;
	display: block;
}
.blogs_show .head_wpr .description{
	color: #c0c0c0;
	font-size: 10px;
}

.blogs_show .post_wpr{

}
.blogs_show .post_wpr .post_item:last-child{
	border: none;
}
.blogs_show .post_wpr .post_head{
	margin-bottom: 20px;
	
}
.blogs_show .post_wpr .post_head img{
	margin-right: 5px;
}

.blogs_show .post_wpr .description{
	color: #6b6b6b;
}

.blogs_show .blog_info{
	margin-top: 100px;
	font-size: 10px;
	padding-right: 20px;
}
.blogs_show .blog_info .description{
	color: #666;
}


.blogs_show .users_wpr{
	text-align: center;
	
	width: 90%;
	margin: 0px auto;
	margin-left: -10px;

}
.blogs_show .users_wpr img{
	display: inline-block;
	margin: 5px;
	vertical-align: top;
	opacity: .7;
}
.blogs_show .users_wpr img:hover{
	opacity: 1;
}



@-moz-keyframes blink {
	from,to {
	color: transparent;
}
 50% {
   color: white;
 }

}

@-webkit-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: white;
 }

}

@-ms-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: white;
 }

}

@-o-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: white;
 }
}

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(2deg);}
	50% {-webkit-transform:rotate(-2deg);}
	100% {-webkit-transform:rotate(2deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(2deg);}
	50% {-moz-transform:rotate(-2deg);}
	100% {-moz-transform:rotate(2deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(2deg);}
	50% {transform:rotate(-2deg);}
	100% {transform:rotate(2deg);}
}
 
.wiggler:hover {
	-webkit-animation: wiggle .7s infinite;
	-moz-animation: wiggle .7s infinite;
	animation: wiggle .7s infinite;
}

.content{
	
	margin: 0px auto; 
	margin-top: 650px; 
	text-align: center;
}

.content .slide{
	width: 850px; 
	margin: 0px auto;
	margin-bottom: 100px;
}

.gravatar-med{
	height: 80px;
	width: auto;
	border-radius: 50%;
	margin: 10px 10px 0 0;
}

.content .masonry{
	margin: 0px auto;
	width: 600px;
}
.content .masonry .box{
	background: rgb(255, 140, 250);
	border-radius: 10px;
	margin: 5px 5px 0 0;
	width: 195px;
	color: #fff;
	padding: 10px;
	height: 195px;
	display: table;
}
.content .masonry .box2{
	width: 395px;
	height: 195px;
	vertical-align: middle;
}



.content .masonry .box .box_wpr{
   position: relative;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
}


.users_index .floatBox .gravatar-lrg{
	margin: 30px 30px 0 0;
}

.content .masonry .color3{
	background:#db7fdf;
}


.content .masonry .color2{
	background:#c164df;
}


.content .masonry .color4{
	background:#cdcde9;

}


.content .masonry .color5{
	background:#a39ae0;

}

.content .masonry .color6{
	background:#bac3ed;

}


.content .slide h1{
	padding: 0;
	font-weight: 800;
	margin: 60px 0 30px 0;
}

.introjs-overlay{
	background: #000;
}
.introjs-helperLayer{
	background: rgba(255,255,255,0);
	border-color: #fff;
	box-shadow: 0 2px 15px rgba(255,255,255,.2);
  	-webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {border-color: rgba(255,255,255,.45)}
    50% {border-color: rgba(255,255,255,.70)}
    100% {border-color: rgba(255,255,255,.2)}
}


.introjs-tooltip{
	background: #000;
	color: #c0c0c0;
}
.introjs-arrow.top-right{
	border-bottom-color: #000;
}

.feature{
	display: inline-block;
	width: 25%;
	margin: 0px auto;
	margin: 3%;
	vertical-align: top;
}
.feature div.gif{
	background: #c0c0c0;
	margin: 20px 0;
	min-height: 150px;
	border-radius: 10px;
	opacity: .6;
}
.feature div.gif img{
	width: 100%;
	height: auto;
}
.feature h4{
	text-align: left;
}
.feature p{
	color: #666;
	text-align: left;
	font-size: 10px;
}

.footer{
	margin:50px 0 30px 0;
	color: #c0c0c0;
}
