<% if _model.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(_model.errors.count, "error") %> prohibited this <%= _message %></h2>

  <ul>
  <% _model.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>
